{% extends 'blog/basic.html' %}

{% block title %}Blog{% endblock title %}

{% block css %}
{% endblock css %}

{% block body %}
<div class="container mt-2">
  <div class="row my-2">
    {% for blog in blogPost %}
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">{{blog.title}}</strong>
          <h3 class="mb-0">{{blog.head0|slice:"0:20"}}...</h3>
          <div class="mb-1 text-body-secondary">{{blog.pub_date}}</div>
          <p class="card-text mb-auto">{{blog.chead0|slice:"0:150"}}...</p>
          <a href="/blog/blogPost/{{blog.post_id}}" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue reading
          </a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="/media/{{blog.thumbnail}}" class="bd-placeholder-img" width="200" height="250" aria-label="Placeholder: Thumbnail"/>
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:2%}
  </div>
  <div class="row my-2">
    {% endif %}
  {% endfor %}
</div>
{% endblock body %}