{% extends 'shop/basic.html' %}

{% block title %}About Us{% endblock title %}

{% block body %}
<main>

    <section class="text-center container">
        <div class="row py-lg-4">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light"><b>MegaDeal</b></h1>
                <p> MegaDeal is an e-commerce website that provides users with the convenience of purchasing products online while offering attractive discounts and establishing sales and deals. It aims to enhance the shopping experience by providing a wide range of products at competitive prices.</p>
    
                <p>One of the key features of MegaDeal is its extensive product catalog. It offers a diverse selection of items across various categories such as electronics, fashion, home appliances, beauty products, and more. Users can easily browse through the website and explore different product options.</p>
    
                <p>MegaDeal also establishes regular sales events to provide users with a unique shopping experience. These events may include seasonal sales, holiday promotions, or clearance sales, allowing customers to purchase products at even more affordable prices. During these events, MegaDeal may collaborate with different brands and suppliers to offer exclusive deals and limited-time offers.</p>
    
                <p>MegaDeal's user-friendly interface makes it easy for customers to navigate the website, search for products, and complete their purchases. It provides various filtering and sorting options to streamline the product search process, enabling users to find their desired items quickly.</p>

                <p>Created by <a target="_blank" href="https://github.com/Sufiyan75" style="text-decoration: none;"><b>Sufiyan Ansari</b></a></p>
            </div>
        </div>
    </section>

</main>
{% endblock body %}